# Neural Time Series Forescasting

In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as  np
import seaborn as sns
sns.set(style="whitegrid", color_codes=True)

path='../2018_01_23_datos_walmart/'
df_train = pd.read_csv(path +'1_data.csv', index_col=0)
df_train.index = pd.to_datetime(df_train.index)

De manera de utilizar redes neuronales, debemos convertir las series de tiempo en un problema de aprendizaje supervisado.

In [48]:
def series_to_supervised(data, window=1, lag=1, dropnan=True):
    cols, names = list(), list()
    # Input sequence (t-n, ... t-1)
    for i in range(window, 0, -1):
        cols.append(data.shift(i))
        names += [('%s(t-%d)' % (col, i)) for col in data.columns]
    # Current timestep (t=0)
    cols.append(data)
    names += [('%s(t)' % (col)) for col in data.columns]
    # Target timestep (t=lag)
    cols.append(data.shift(-lag))
    names += [('%s(t+%d)' % (col, lag)) for col in data.columns]
    # Put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # Drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

window = 1
lag = 1
df_train = series_to_supervised(df_train, window=window, lag=lag)

In [49]:
df_train.head()

,Local(t-1),Item(t-1),Unidades(t-1),Venta(t-1),Inventario(t-1),Local(t),Item(t),Unidades(t),Venta(t),Inventario(t),Local(t+1),Item(t+1),Unidades(t+1),Venta(t+1),Inventario(t+1)
Fecha,,,,,,,,,,,,,,,
2017-01-07,64.0,66.0,2.0,13428.0,72.0,64,117,1.0,3353.0,14.0,64.0,551.0,1.0,2513.0,8.0
2017-01-07,64.0,178.0,1.0,8395.0,2.0,64,357,1.0,2513.0,8.0,64.0,627.0,4.0,3360.0,72.0
2017-01-07,12.0,409.0,1.0,6714.0,1.0,12,519,4.0,26856.0,43.0,12.0,46.0,1.0,7555.0,11.0
2017-01-07,12.0,519.0,4.0,26856.0,43.0,12,46,1.0,7555.0,11.0,12.0,303.0,8.0,3968.0,160.0
2017-01-07,12.0,46.0,1.0,7555.0,11.0,12,303,8.0,3968.0,160.0,12.0,556.0,1.0,2513.0,25.0

In [50]:
print df_train.shape

(128234, 15)

In [51]:
print df_train.columns

Index([u'Local(t-1)', u'Item(t-1)', u'Unidades(t-1)', u'Venta(t-1)',
       u'Inventario(t-1)', u'Local(t)', u'Item(t)', u'Unidades(t)',
       u'Venta(t)', u'Inventario(t)', u'Local(t+1)', u'Item(t+1)',
       u'Unidades(t+1)', u'Venta(t+1)', u'Inventario(t+1)'],
      dtype='object')

In [52]:
columns_to_drop = [('%s(t+%d)' % (col, lag)) for col in ['Item', 'Local']]
for i in range(window, 0, -1):
    columns_to_drop += [('%s(t-%d)' % (col, i)) for col in ['Item', 'Local']]
    
print columns_to_drop

['Item(t+1)', 'Local(t+1)', 'Item(t-1)', 'Local(t-1)']

In [53]:
df_train.drop(labels=columns_to_drop, inplace=True, axis=1)
df_train.rename({'Local(t)':'Local', 'Item(t)':'Item'}, inplace=True,axis='columns')
df_train.tail()

,Unidades(t-1),Venta(t-1),Inventario(t-1),Local,Item,Unidades(t),Venta(t),Inventario(t),Unidades(t+1),Venta(t+1),Inventario(t+1)
Fecha,,,,,,,,,,,
2018-03-31,5.0,2480.0,187.0,20,139,4.0,3360.0,92.0,1.0,2513.0,12.0
2018-03-31,10.0,6640.0,66.0,28,515,4.0,6688.0,136.0,5.0,4160.0,11.0
2018-03-31,2.0,6706.0,46.0,28,251,2.0,10068.0,34.0,3.0,10059.0,8.0
2018-03-31,2.0,10068.0,34.0,28,612,3.0,10059.0,8.0,2.0,3344.0,20.0
2018-03-31,3.0,10059.0,8.0,28,606,2.0,3344.0,20.0,9.0,7560.0,23.0

Incorporamos información foránea al modelo. En este caso, convertimos la fecha en dia, mes, año y día de la semana.

In [54]:
def expand_df(df):
    data = df.copy()
    #data['month'] = data.index.month
    #data['year'] = data.index.year
    data['weekend'] = np.int32(data.index.dayofweek > 3)
    return data

df_train=expand_df(df_train)
df_train.tail()

,Unidades(t-1),Venta(t-1),Inventario(t-1),Local,Item,Unidades(t),Venta(t),Inventario(t),Unidades(t+1),Venta(t+1),Inventario(t+1),weekend
Fecha,,,,,,,,,,,,
2018-03-31,5.0,2480.0,187.0,20,139,4.0,3360.0,92.0,1.0,2513.0,12.0,1
2018-03-31,10.0,6640.0,66.0,28,515,4.0,6688.0,136.0,5.0,4160.0,11.0,1
2018-03-31,2.0,6706.0,46.0,28,251,2.0,10068.0,34.0,3.0,10059.0,8.0,1
2018-03-31,2.0,10068.0,34.0,28,612,3.0,10059.0,8.0,2.0,3344.0,20.0,1
2018-03-31,3.0,10059.0,8.0,28,606,2.0,3344.0,20.0,9.0,7560.0,23.0,1

A continuacion, separamos la variable dependientes $y$ de las independentes $X$. En este caso, la etiqueta corresponde a la columna : sales(t+1)

In [55]:
labels_col = 'Venta(t+%d)' % lag
X = df_train.drop(labels_col, axis=1)
y = df_train[labels_col]

Transformamos las etiquetas store e item en variables categoricas

In [56]:
from sklearn.preprocessing import OneHotEncoder

Local_ohe = OneHotEncoder()
Item_ohe = OneHotEncoder()

X_Local = pd.DataFrame(Local_ohe.fit_transform(X.Local.values.reshape(-1,1)).toarray())
X_Item = pd.DataFrame(Item_ohe.fit_transform(X.Item.values.reshape(-1,1)).toarray())

X = X.drop(['Local','Item'], axis=1)

X_Local.columns=[u+str(v) for u,v in zip(['Local_']*88,range(1,89))]
X_Item.columns=[u+str(v) for u,v in zip(['Item_']*447,range(1,448))]

In [59]:
X = np.concatenate([X,X_Item,X_Local],axis=1)
y = y.values

print X.shape
print y.shape

(128234, 544)
(128234,)

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)
print('Train set shape', X_train.shape)
print('Validation set shape', X_test.shape)

# convertir a tensor
X_train=X_train.reshape((X_train.shape[0],1,X_train.shape[1]))
X_test=X_test.reshape((X_test.shape[0],1,X_test.shape[1]))
print X_train.shape

('Train set shape', (102587, 544))
('Validation set shape', (25647, 544))
(102587, 1, 544)

# LSTM Model Training

In [61]:
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import np_utils
import itertools
from keras.layers import LSTM
from keras import optimizers
import keras.backend as K

def mean_pred(y_true, y_pred):
    return K.mean(y_pred)

epochs = 40
batch_size = 256
lr = 0.0003

model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dense(1))
model.compile(loss='mse',optimizer="rmsprop", metrics=['mape'])
model.summary()

Using TensorFlow backend.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 50)                119000
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 119,051
Trainable params: 119,051
Non-trainable params: 0
_________________________________________________________________

In [62]:
history = model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=epochs, verbose=1)

Train on 102587 samples, validate on 25647 samples
Epoch 1/40
102587/102587 [==============================] - 14s 132us/step - loss: 274393836.6921 - mean_absolute_percentage_error: 126.4072 - val_loss: 279906406.6665 - val_mean_absolute_percentage_error: 126.1862
Epoch 2/40
102587/102587 [==============================] - 12s 121us/step - loss: 262792045.5081 - mean_absolute_percentage_error: 133.7003 - val_loss: 269222067.7051 - val_mean_absolute_percentage_error: 146.1177
Epoch 3/40
102587/102587 [==============================] - 13s 125us/step - loss: 256795253.6609 - mean_absolute_percentage_error: 140.0619 - val_loss: 266148095.6731 - val_mean_absolute_percentage_error: 145.2526
Epoch 4/40
102587/102587 [==============================] - 13s 125us/step - loss: 254371215.3014 - mean_absolute_percentage_error: 141.5915 - val_loss: 265175143.3178 - val_mean_absolute_percentage_error: 152.2539
Epoch 5/40
102587/102587 [==============================] - 13s 125us/step - loss: 252296951.8249 - mean_absolute_percentage_error: 141.8000 - val_loss: 261531597.5327 - val_mean_absolute_percentage_error: 138.4622
Epoch 6/40
102587/102587 [==============================] - 13s 125us/step - loss: 249139815.6719 - mean_absolute_percentage_error: 141.3863 - val_loss: 257957737.8132 - val_mean_absolute_percentage_error: 141.5024
Epoch 7/40
102587/102587 [==============================] - 13s 122us/step - loss: 245241188.5439 - mean_absolute_percentage_error: 141.1416 - val_loss: 253172434.0968 - val_mean_absolute_percentage_error: 140.3274
Epoch 8/40
102587/102587 [==============================] - 13s 126us/step - loss: 239838730.0186 - mean_absolute_percentage_error: 141.0474 - val_loss: 246021854.8184 - val_mean_absolute_percentage_error: 142.4614
Epoch 9/40
102587/102587 [==============================] - 13s 126us/step - loss: 230331557.4547 - mean_absolute_percentage_error: 137.5908 - val_loss: 235096568.3266 - val_mean_absolute_percentage_error: 127.8768
Epoch 10/40
102587/102587 [==============================] - 13s 128us/step - loss: 216161391.2938 - mean_absolute_percentage_error: 133.9227 - val_loss: 220663179.4440 - val_mean_absolute_percentage_error: 145.3209
Epoch 11/40
102587/102587 [==============================] - 13s 123us/step - loss: 199810349.0243 - mean_absolute_percentage_error: 126.8231 - val_loss: 202744693.8262 - val_mean_absolute_percentage_error: 126.5073
Epoch 12/40
102587/102587 [==============================] - 13s 125us/step - loss: 187728665.8334 - mean_absolute_percentage_error: 120.8816 - val_loss: 195528374.4525 - val_mean_absolute_percentage_error: 98.0223
Epoch 13/40
102587/102587 [==============================] - 13s 126us/step - loss: 182777660.7252 - mean_absolute_percentage_error: 117.7118 - val_loss: 189886859.5463 - val_mean_absolute_percentage_error: 113.4003
Epoch 14/40
102587/102587 [==============================] - 13s 127us/step - loss: 181448959.3691 - mean_absolute_percentage_error: 115.1098 - val_loss: 195318938.6286 - val_mean_absolute_percentage_error: 137.5136
Epoch 15/40
102587/102587 [==============================] - 13s 127us/step - loss: 181010628.9516 - mean_absolute_percentage_error: 113.6352 - val_loss: 203341091.1929 - val_mean_absolute_percentage_error: 157.0841
Epoch 16/40
102587/102587 [==============================] - 13s 124us/step - loss: 181526515.7858 - mean_absolute_percentage_error: 112.6605 - val_loss: 190427887.3456 - val_mean_absolute_percentage_error: 104.2255
Epoch 17/40
102587/102587 [==============================] - 13s 128us/step - loss: 182452457.7143 - mean_absolute_percentage_error: 112.0955 - val_loss: 190511932.9506 - val_mean_absolute_percentage_error: 87.6859
Epoch 18/40
102587/102587 [==============================] - 13s 128us/step - loss: 182444291.0851 - mean_absolute_percentage_error: 111.1708 - val_loss: 192228901.9528 - val_mean_absolute_percentage_error: 95.7523
Epoch 19/40
102587/102587 [==============================] - 13s 130us/step - loss: 183080715.4627 - mean_absolute_percentage_error: 110.4087 - val_loss: 190283156.2578 - val_mean_absolute_percentage_error: 120.2335
Epoch 20/40
102587/102587 [==============================] - 13s 129us/step - loss: 182487146.8430 - mean_absolute_percentage_error: 110.6140 - val_loss: 189126717.6942 - val_mean_absolute_percentage_error: 120.5595
Epoch 21/40
102587/102587 [==============================] - 13s 128us/step - loss: 182046143.2272 - mean_absolute_percentage_error: 109.7248 - val_loss: 187699858.0144 - val_mean_absolute_percentage_error: 96.3963
Epoch 22/40
102587/102587 [==============================] - 13s 129us/step - loss: 182108678.7670 - mean_absolute_percentage_error: 109.1090 - val_loss: 186514849.2639 - val_mean_absolute_percentage_error: 96.9979
Epoch 23/40
102587/102587 [==============================] - 13s 130us/step - loss: 181682833.7283 - mean_absolute_percentage_error: 109.3289 - val_loss: 196875695.4866 - val_mean_absolute_percentage_error: 74.3219
Epoch 24/40
102587/102587 [==============================] - 13s 130us/step - loss: 181135483.7807 - mean_absolute_percentage_error: 109.1434 - val_loss: 185535918.4223 - val_mean_absolute_percentage_error: 100.7518
Epoch 25/40
102587/102587 [==============================] - 13s 127us/step - loss: 180931955.3723 - mean_absolute_percentage_error: 109.3431 - val_loss: 185380367.0025 - val_mean_absolute_percentage_error: 109.1667
Epoch 26/40
102587/102587 [==============================] - 13s 130us/step - loss: 180389411.0949 - mean_absolute_percentage_error: 108.9783 - val_loss: 185214103.3297 - val_mean_absolute_percentage_error: 115.7844
Epoch 27/40
102587/102587 [==============================] - 13s 131us/step - loss: 179897345.5163 - mean_absolute_percentage_error: 109.0124 - val_loss: 184143942.0913 - val_mean_absolute_percentage_error: 103.1248
Epoch 28/40
102587/102587 [==============================] - 13s 131us/step - loss: 180090736.6432 - mean_absolute_percentage_error: 108.4471 - val_loss: 183842276.3682 - val_mean_absolute_percentage_error: 108.5494
Epoch 29/40
102587/102587 [==============================] - 13s 131us/step - loss: 179524506.6609 - mean_absolute_percentage_error: 108.3304 - val_loss: 183532580.4631 - val_mean_absolute_percentage_error: 114.9121
Epoch 30/40
102587/102587 [==============================] - 13s 128us/step - loss: 178923215.7282 - mean_absolute_percentage_error: 108.6926 - val_loss: 192839686.8774 - val_mean_absolute_percentage_error: 71.9066
Epoch 31/40
102587/102587 [==============================] - 14s 132us/step - loss: 178194578.3009 - mean_absolute_percentage_error: 108.1631 - val_loss: 185735759.0599 - val_mean_absolute_percentage_error: 107.1975
Epoch 32/40
102587/102587 [==============================] - 14s 132us/step - loss: 177851083.7407 - mean_absolute_percentage_error: 107.8529 - val_loss: 187189259.6461 - val_mean_absolute_percentage_error: 138.7736
Epoch 33/40
102587/102587 [==============================] - 13s 131us/step - loss: 176515492.5855 - mean_absolute_percentage_error: 108.0229 - val_loss: 180020307.1024 - val_mean_absolute_percentage_error: 99.6501
Epoch 34/40
102587/102587 [==============================] - 13s 128us/step - loss: 175726781.5749 - mean_absolute_percentage_error: 107.9573 - val_loss: 180842506.6642 - val_mean_absolute_percentage_error: 95.2531
Epoch 35/40
102587/102587 [==============================] - 13s 126us/step - loss: 174535163.2316 - mean_absolute_percentage_error: 108.1098 - val_loss: 177743271.6148 - val_mean_absolute_percentage_error: 100.9477
Epoch 36/40
102587/102587 [==============================] - 13s 126us/step - loss: 173308245.0775 - mean_absolute_percentage_error: 107.8325 - val_loss: 188708258.0999 - val_mean_absolute_percentage_error: 70.4718
Epoch 37/40
102587/102587 [==============================] - 14s 132us/step - loss: 171792261.6909 - mean_absolute_percentage_error: 108.1012 - val_loss: 179497110.5898 - val_mean_absolute_percentage_error: 83.3402
Epoch 38/40
102587/102587 [==============================] - 13s 126us/step - loss: 170423574.2725 - mean_absolute_percentage_error: 108.4201 - val_loss: 174087727.7798 - val_mean_absolute_percentage_error: 103.1705

Epoch 39/40
102587/102587 [==============================] - 12s 118us/step - loss: 169694785.6326 - mean_absolute_percentage_error: 108.0784 - val_loss: 179674781.1091 - val_mean_absolute_percentage_error: 137.4719
Epoch 40/40
102587/102587 [==============================] - 12s 120us/step - loss: 168641799.2293 - mean_absolute_percentage_error: 109.0125 - val_loss: 172661777.1036 - val_mean_absolute_percentage_error: 101.1441

In [63]:
model.save('lstm_continuous_input.h5')